<h2 class="page-title">All Blog Posts</h2>

<% if (posts.length > 0) { %>
    <div class="posts-list">
        <% posts.forEach(post => { %>
            <div class="post-card">
                <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
                <p class="post-meta">By <%= post.author %> on <%= post.created_at.toLocaleDateString() %></p>
                <p><%= post.content.substring(0, 150) %>...</p>
                <a href="/posts/<%= post.id %>" class="read-more">Read More &rarr;</a>
            </div>
        <% }) %>
    </div>
<% } else { %>
    <p>No posts yet. <a href="/posts/new">Be the first to create one!</a></p>
<% } %>